<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.philosopherzb.secret.service.dal.mapper.AppConfigAesMapper">
    <resultMap id="BaseResultMap" type="com.philosopherzb.secret.service.dal.domain.AppConfigAes" >
        <result column="id" property="id" />
        <result column="app_id" property="appId" />
        <result column="aes_key" property="aesKey" />
        <result column="secret_version" property="secretVersion" />
        <result column="is_delete" property="isDelete" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <sql id = "table">
    tb_app_config_aes
  </sql>

    <sql id = "columns">
    id, app_id, aes_key, secret_version, is_delete,
    create_time, modify_time
  </sql>

    <sql id = "values">
    #{id}, #{appId}, #{aesKey}, #{secretVersion}, #{isDelete},
    #{createTime}, #{modifyTime}
  </sql>

    <select id = "getByPage" parameterType = "com.philosopherzb.secret.service.dal.domain.AppConfigAes" resultMap = "BaseResultMap">
        select <include refid = "columns" />
        from <include refid="table"/>
        <where>
            <if test = "appId != null and appId != '' ">AND app_id = #{appId}</if>
            <if test = "secretVersion != null">AND secret_version = #{secretVersion}</if>
            <if test = "isDelete != null">AND is_delete = #{isDelete}</if>
        </where>
    </select>

    <select id = "getByAppIdAndVersion" resultMap = "BaseResultMap">
        select <include refid = "columns" />
        from <include refid = "table" />
        where
        app_id = #{appId} and
        secret_version = #{secretVersion} and
        is_delete = 0
    </select>

    <select id = "getLastByAppId" resultMap = "BaseResultMap">
        select <include refid = "columns" />
        from <include refid = "table" />
        where
        app_id = #{appId} and
        is_delete = 0 order by id desc limit 1
    </select>

</mapper>